<div style="text-align:center">
  <file-drop class="custom-component-drop-zone"
    (onFileDrop)="dragFilesDropped($event)">
    Drag files here
  </file-drop>
</div>
<form style="padding:18px;max-width:800px;" [formGroup]="form">
  <div style="margin:5px 0;font-weight:600;">Primary Axis</div>
  <ng-select
	  [items]="optionsPrimary"
	  [multiple]="multiplePrimary"
	  placeholder="Select Primary"
    formControlName="selectPrimary"
    (open)="onPrimaryOpened()"
    (close)="onPrimaryClosed()"
    (change)="onPrimarySelected($event)">
	</ng-select>

  <div style="margin:5px 0;font-weight:600;">Secondary Axis</div>
  <ng-select
	  [items]="optionsSecondary"
	  [multiple]="multipleSecondary"
	  placeholder="Select Secondary"
    formControlName="selectSecondary"
    (open)="onSecondaryOpened()"
    (close)="onSecondaryClosed()"
    (change)="onSecondarySelected($event)">
	</ng-select>

  <div style="margin:5px 0;font-weight:600;">File Exclusion Filter</div>
  <ng-select
	  [items]="optionsFiles"
	  [multiple]="multipleFiles"
	  placeholder="Exclude Files"
    formControlName="selectFiles"
    (open)="onFilesOpened()"
    (close)="onFilesClosed()"
    (change)="onFilesSelected($event)">
	</ng-select>
</form>



<div id="container" #container style="width:100%; height:80vw; max-height: 50vh;"></div>

<pre>
{{fileContents}}
</pre>
