<div style="text-align:center">
  <div ng2FileDrop class="custom-component-drop-zone" [ng2FileDropAcceptMultiple]="true"
    (ng2FileDropFilesDropped)="dragFilesDropped($event)">
    Drag files here
  </div>
</div>
<form style="padding:18px;max-width:800px;" [formGroup]="form">
  <div style="margin:5px 0;font-weight:600;">Primary Axis</div>
  <ng-select
	  [options]="optionsPrimary"
	  [multiple]="multiplePrimary"
	  placeholder="Select Primary"
    formControlName="selectPrimary"
	  [allowClear]="true"
    (opened)="onPrimaryOpened()"
    (closed)="onPrimaryClosed()"
    (selected)="onPrimarySelected($event)"
    (deselected)="onPrimaryDeselected($event)">
	</ng-select>

  <div style="margin:5px 0;font-weight:600;">Secondary Axis</div>
  <ng-select
	  [options]="optionsSecondary"
	  [multiple]="multipleSecondary"
	  placeholder="Select Secondary"
    formControlName="selectSecondary"
	  [allowClear]="true"
    (opened)="onSecondaryOpened()"
    (closed)="onSecondaryClosed()"
    (selected)="onSecondarySelected($event)"
    (deselected)="onSecondaryDeselected($event)">
	</ng-select>

  <div style="margin:5px 0;font-weight:600;">File Exclusion Filter</div>
  <ng-select
	  [options]="optionsFiles"
	  [multiple]="multipleFiles"
	  placeholder="Exclude Files"
    formControlName="selectFiles"
	  [allowClear]="true"
    (opened)="onFilesOpened()"
    (closed)="onFilesClosed()"
    (selected)="onFilesSelected($event)"
    (deselected)="onFilesDeselected($event)">
	</ng-select>
</form>



<div id="container" #container style="width:100%; height:80vw; max-height: 50vh;"></div>

<pre>
{{fileContents}}
</pre>
